body {
  font-family: arial;
  font-size: 12;

}

#input {
  width: 800px;
  margin:auto;
  padding-top: 220px;
  padding-bottom: 300px;

}

input {
  opacity: 100%;
}

#innerinput {
  background-color: #ffffff;
  /*opacity: 0.5;*/
  width: 800px;
  padding: 15px;
}

.inputs {
  margin: 3px;
  width: 150px;
  display: inline-block;
  text-align: center;
}

#output {
  margin: auto;
  padding-bottom: 200px;
  width: 500px;
  text-align: center;
}

#inneroutput {
  background-color: #ffffff;
  width: 500px;
  padding: 15px;
}
